@media screen and (min-width: 1380px)
{
    /* Rédigez vos propriétés CSS ici */


    nav {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 312px);
        grid-template-rows: repeat(2, 300px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    } 


    i {
        margin: 0;
        color: white;
        font-size: 50px;
        right: 43%;
        bottom: 45%;
        position: absolute;
        visibility: hidden;
    
    }


    footer {
        position: relative;
        margin: 0;
    }


    .grid {
        display: grid;
        grid-template-columns: 7fr 5fr repeat(3, 2fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }   



    .allgrid {
    max-width: 1800px;
    margin: 40px 60px 40px 40px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /*display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;*/


    } 

}