@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	/*border: 1px solid hotpink;*/
}


h1 {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 2rem;
}

html, body {
	font-family: Nunito Sans, sans-serif;
	height: 0;
	position: relative;

}

/*-------------------------------------------- HEADER------------------------------------------*/

header {
	height: 70px;
	margin: 35px 100px 0px 100px ;
	position: relative;
	width: auto;
}


.header {
	display: flex;
	align-items: center;
	position: relative;
	height: 35px;

}

.logo {
	background: url(../img/logo.png);
	width: 31px;
	height: 25px;
	left: 0;
}

header ul {
	font-family: Montserrat, sans-serif;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 200px;
	right: 0;
}

header li {
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
}

header li:hover {
	color: skyblue;
	

}


/*--------------------------------------------MAIN-----------------------------------------------*/

main {
	height: 300px;
	width: 100%;
	position: relative;
	background: #F6F6F6FF;

}

.container {
	margin: 65px 400px 70px 400px;
	width: 50%;
	position: absolute;
	text-align: center;
	
}

.container p {
	color: #838383FF;
}



/*--------------------------------------------NAV-----------------------------------------------*/

nav {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 335px);
	grid-template-rows: repeat(3, 300px);
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
}

.hmenu {
	position: relative;
	width: 342px; height: 300px;
	transition: 0.7s;
	display: flex;
	justify-content: center;
	align-items: center;
	
}


i {
	margin: 0;
	color: white;
	font-size: 50px;
    right: 40%;
    bottom: 45%;
    position: absolute;
    visibility: hidden;
    
}

.himghover {
	background: rgba(49, 205, 201, 0.3);
	height: 300px; width: 342px;
	position: absolute;
	visibility: hidden;
	
}


.himg1, .himg2, .himg3, .himg4, .himg5, .himg6, .himg7, .himg8, .himg9, .himg10, .himg11, .himg12{
	background: url(../img/photo_1.jpg) center/cover;
	height: 300px; width: 342px;
	
}

/*Parti qui permet lanimation de limage par dessus*/
.hmenu:hover .himghover, .hmenu:hover i, .hmenu:hover .himg {
visibility: visible;


}


/*--------------------------------------------FOOTER-----------------------------------------------*/

footer {
	padding-top: 35px;
	margin: 55px, 100px, 95px, 100px;
	height: 280px;
	width: 100%;
	background: #141414FF;
	position: relative;
	color: white;

}    

.grid {
	margin: 90px 110px 0px 110px;
	display: grid;
	grid-template-columns: 7fr 5fr repeat(3, 2fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	
}

footer li {
	cursor: pointer;
}
